# macOS
.DS_Store

# Xcode
build/
DerivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.swiftpm/
.build/
Packages/

# Logs / temp
*.log
*.tmp

# Playgrounds
timeline.xctimeline
playground.xcworkspace
